
@{
    ViewBag.Title = "BooksCart";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<link href="~/css/BooksCart/bookscart.css" rel="stylesheet" />
<div class="container">
    <div class=""></div>
    <div class="card">
        <div class="container-fliud singlebook">
            
        </div>
    </div>
</div>
@section scripts{
    <script src="~/JS/Mainpage/BooksCart/bookscart.js"></script>
}