
@{
    ViewBag.Title = "Userstudent";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/css/Userstudents/userstudents.css" rel="stylesheet" />
<!-- Font Awesome-->
<script src="https://kit.fontawesome.com/f818060268.js" crossorigin="anonymous"></script>

<!-- header -->
<header class="header">
    <div class="header-flex">
        <div class="headings">
            <h1>Grace</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic architecto enim error omnis</p>
            <h2>Motto: knowledge is power</h2>
            <button class="header-btn">Rent</button>
        </div>
        <div class="header-image">
        </div>
    </div>
</header>
<!-- header finished -->
<!-- section -->
<section class="site-title">
    <div class="site-background">
        <h2>Take a good book to bed with you<br>Books do not snore</h2>
        <button class="btn">Read</button>
    </div>
</section>
<!-- section finished-->
<!-- Featured -->
<div class="featured">
    <h2>Featured Books</h2>
</div>
<!-- Featured finished-->
<!-- Featured container-->
<div class="row">
    <div class="col-md-12">
        <div class="featured-container allbooks">

        </div>
    </div>
    
</div>



@section scripts{
    <script src="~/JS/Mainpage/mainlandingpage.js"></script>
}
